:root {
    --heading-1: 3rem;
    --heading-2: 3rem;
    --heading-3: 2rem;
    --body-text: 1.5rem;
    --nav-text: 1.3rem;
    --bg-color: #ecedef;
    --red-color: #d63939;
    --gray-color: #898989;
    --green-color: #48ab5d;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    background: var(--bg-color);
    font-family: sans-serif;
}

/**
 Header
 */
.header-main-container {
    width: 100%;
}

.header-content-container {
    text-align: center;
    margin: 0 auto;
}

.header-content-container p {
    text-align: center;
    font-size: var(--body-text);
    color: var(--gray-color);
    padding-top: 20px;
}

.header-icon-list {
    list-style: none;
    text-align: right;

}

.header-icon-list-element {
    display: inline;
    vertical-align: middle;
}

/**
Login Site
 */
.login-main-container {
    padding: 5% 0;
    width: 100%;
}

.login-content-container {
    text-align: center;
}

.login-form-container {
    width: 30%;
}

.login-form-input-container {
    padding: 5px 0;
}

.login-form-input-container input {
    vertical-align: middle;
    font-size: var(--body-text);
    color: var(--green-color);
    width: 90%;
    border-style: none;
    border-bottom: var(--gray-color) solid 2px;
}

.login-form-input-container img {
    vertical-align: middle;
    max-width: 10%;
}

form input:focus, form textarea:focus {
    -moz-box-shadow: 0 0 3px var(--green-color) !important;
    -webkit-box-shadow: 0 0 3px var(--green-color) !important;
    box-shadow: 0 0 3px var(--green-color) !important;
    border-style: none;
    border-bottom: var(--green-color) solid 2px;
}

form input:focus::placeholder , form textarea:focus::placeholder {
    color: var(--green-color);
    font-weight: 300;
}

::placeholder {
    color: var(--gray-color);
}

.login-btn {
    margin-top: 5px;
    width: 100%;
    padding: 15px 0;
    font-size: var(--heading-3);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
}

.login-btn:hover {
    background: #96a698;
    cursor: pointer;
}

/**
 Footer
 */
.footer-links-list {
    display: flex;
    flex-direction: row;
}
.update-form{
    display: flex;
  
}
.update-form-label-container{
    display:inline;   

}
.update-form-input-container{
   display: inline;

}
