:root {
    --heading-1: 3rem;
    --heading-2: 3rem;
    --heading-3: 2rem;
    --body-text: 1.5rem;
    --nav-text: 1.3rem;
    --bg-color: #ecedef;
    --red-color: #d63939;
    --gray-color: #898989;
    --green-color: #48ab5d;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    background: var(--bg-color);
    font-family: sans-serif;
}

/**
 Header
 */
.header-main-container {
    width: 100%;
}

.header-content-container {
    padding: 1% 1% 0 0;
    text-align: center;
    margin: 0 auto;
}

.header-content-container p {
    text-align: center;
    font-size: var(--body-text);
    color: var(--gray-color);
    padding-top: 20px;
}

.header-icon-list {
    list-style: none;
    text-align: right;

}

.header-icon-list-element {
    display: inline;
    vertical-align: middle;
}

/**
Login Site
 */
.login-main-container {
    padding: 5% 0;
    width: 100%;
}

.login-content-container {
    text-align: center;
}

.login-form-container {
    width: 30%;
}

.login-form-input-container {
    padding: 5px 0;
}

.login-form-input-container input {
    vertical-align: middle;
    font-size: var(--body-text);
    color: var(--green-color);
    width: 90%;
    border-style: none;
    border-bottom: var(--gray-color) solid 2px;
}

.login-form-input-container img {
    vertical-align: middle;
    max-width: 10%;
}

form input:focus, form textarea:focus {
    -moz-box-shadow: 0 0 3px var(--green-color) !important;
    -webkit-box-shadow: 0 0 3px var(--green-color) !important;
    box-shadow: 0 0 3px var(--green-color) !important;
    border-style: none;
    border-bottom: var(--green-color) solid 2px;
}

form input:focus::placeholder , form textarea:focus::placeholder {
    color: var(--green-color);
    font-weight: 300;
}

::placeholder {
    color: var(--gray-color);
}

.login-btn {
    margin-top: 5px;
    width: 100%;
    padding: 15px 0;
    font-size: var(--heading-3);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
}

.login-btn:hover {
    background: #96a698;
    cursor: pointer;
}

/**
Main Site
 */
.mainPage-main-container {
    text-align: center;
    padding: 5% 0;
    width: 100%;
    height: 600px
}

.mainPage-main-container p {
    font-size: var(--heading-3);
    color: var(--gray-color);
}

.mainPage-content-container {
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

.mainPage-map-container {
    width: 40%;
    display: inline-block;
    height: 100%;
}

.mainPage-map-container iframe {
    width: 100%;
    height: 100%;
}
.mainPage-locations-container {
    width: 40%;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 30px;
    vertical-align: top;
}

.locations-list {
    list-style: none;
    padding: 0;
}

.locations-list-element {
}

.locations-list-element a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: var(--body-text);

}

.locations-list-element a:hover {
    cursor: pointer;
    color: var(--green-color);
}

.add-location-btn {
    margin-top: 5px;
    width: 100%;
    padding: 15px 0;
    font-size: var(--heading-3);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
}

.add-location-btn:hover {
    background: #96a698;
    cursor: pointer;
}

    /**
     Footer
     */
.footer-links-list {
    display: flex;
    flex-direction: row;
}


.update-form-label-container,
.update-form-input-container,
.add-form-label-container,
.add-form-input-container
 {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    
}
.update-form-label-container,
.add-form-label-container{
    text-align: right;
    padding-right: 5px;
}


.add-form-label-container label,
.update-form-label-container label{
    display: block;
    width: 100%;
    font-size: var(--body-text);
    color: gray;
    padding: 5px 0;
    

}
.add-form-input-container input,
.update-form-input-container input{
   display: block;
    width: 100%;
    padding: 5px 0;
}

table, th, td {
    border: 1px solid var(--green-color);
    border-collapse: collapse;
    font-size: var(--body-text);
    align-content: center;
    
  
}
.overview-table{
    width: 100%;

}

.form-button {
    margin-top: 5px;
    width: 30%;
    padding: 15px 0;
    font-size: var(--body-text);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
}

.form-button:hover {
    background: #96a698;
    cursor: pointer;
}

.update-screen-contant-conatainer,
.add-screen-contant-container{
    padding: 5% 0;
    align-content: center;
    width: 100%;
    text-align: center;
}
.update-form{
    display: block;
    width: 100%;
    text-align: center;
}
.update-btns-container{
    display: block;
}
.add-screen-container{
    padding: 5% 0;
}

.location-overview-container{
    padding: 5%;
}

