:root {
    --heading: 2.3rem;
    --body-text: 1.2rem;
    --nav-text: 1rem;
    --bg-color: #ecedef;
    --red-color: #d63939;
    --gray-color: #898989;
    --green-color: #48ab5d;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    background: var(--bg-color);
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    font-size: var(--heading);
    color: var(--green-color);
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 30px;
}

.none-display {
    display: none;
}

/**
 Header
 */
.header-main-container {
    width: 100%;
}

.header-content-container {
    background: no-repeat url("../img/bg1.png") left;
    padding: 1% 1% 0 0;
    text-align: center;
    margin: 0 auto;
}

.header-content-container img {
    margin: 0;
    padding-bottom: 20px;
}

.header-content-container p {
    text-align: center;
    font-size: var(--body-text);
    color: var(--gray-color);
    line-height: 1.5rem;
}

.header-icon-list {
    list-style: none;
    text-align: right;
    height: 25px;
}

.header-icon-list-element {
    display: inline;
    vertical-align: middle;
}

/**
Login Site
 */
.login-main-container {
    padding: 5% 0;
    width: 100%;
}

.login-content-container {
    text-align: center;
}

.login-form-container {
    width: 30%;
}

.login-form-input-container {
    padding: 5px 0;
}

.login-form-input-container input {
    vertical-align: middle;
    font-size: var(--body-text);
    color: var(--green-color);
    width: 85%;
    border-style: none;
    border-bottom: var(--gray-color) solid 1px;
}

.login-form-input-container img {
    vertical-align: middle;
    max-width: 10%;
}

form input:focus, form textarea:focus {
    border-bottom: var(--green-color) solid 2px;
    outline: none;
    font-weight: 600;
}

form input:focus::placeholder , form textarea:focus::placeholder {
    color: var(--green-color);
    outline: none;
}

::placeholder {
    color: var(--gray-color);
}

.login-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px 0;
    font-size: var(--heading);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
    font-weight: 200;
}

.login-btn:hover {
    background: #a9baab;
    cursor: pointer;
}

/**
Main Site
 */
.mainpage-main-container {
    text-align: center;
    padding: 5% 5%;
    margin-bottom: 15%;
    width: 100%;
    height: 500px
}

.mainpage-map-container {
    height: 500px;
    width: 50%;
    display: inline-block;
}

.location-info-container {
    height: 20%;
    width: 100%;
    text-align: left;
    color: var(--gray-color);
}

.location-info-container h3 {
    font-size: var(--body-text);
    text-transform: uppercase;
    font-weight: 600;
}

.location-info-container p {
    font-size: var(--nav-text);
    font-weight: 400;
    line-height: 1.5rem;
}

.map {
    height: 80%;
    width: 100%;
}

.mainage-locations-list-container {
    width: 48%;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 30px;
    vertical-align: top;
    height: 500px;
}

.locations-list-container {
    height: 85%;
}

.locations-list {
    list-style: none;
    padding: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    display: block;
    text-decoration: none;
    background: no-repeat url("../img/bg2.png") right;
    color: var(--gray-color);
    font-size: var(--body-text);
    vertical-align: middle;
}

.locations-list-element:hover {
    cursor: pointer;
    color: #b6b9b6;
    border-bottom: #d3d5d3 solid 0.5px ;
}

.locations-list-icon {
    vertical-align: middle;
}

.locations-options-container {
    height: 15%;
}

.add-location-btn {
    height: 100%;
    margin-top: 5px;
    width: 49.6%;
    padding: 0;
    font-size: var(--heading);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
    font-weight: 200;
}

.add-location-btn:hover {
    background: #96a698;
    cursor: pointer;
}

/**
Footer
 */

.footer-container {
    padding-top: 10%;
}

.footer-content-container {
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.footer-impressum-container {
    text-align: left;
    padding: 0 0 20px 15px;
}

.footer-impressum-info-container {
    width: auto;
    display: inline-block;
    vertical-align: top;
    color: var(--gray-color);
    font-size: var(--nav-text);
    font-weight: 300;
    padding-right: 30px;
}

.footer-logo-img {
    padding-bottom: 15px;
}

.footer-impressum-info-container a {
    display: block;
    text-decoration: none;
    color: var(--gray-color);
    vertical-align: middle;
}

.footer-impressum-info-container img {
    display: inline;
    vertical-align: middle;
}

.footer-impressum-info-container a:hover {
    cursor: pointer;
    color: var(--green-color);
}

.footer-heading {
    font-weight: 600;
    color: var(--green-color);
    padding-bottom: 12px;
}

.copyright-text {
    padding-top: 10px;
    border-top: var(--green-color) solid 2px;
    font-size: .8rem;
    color: var(--gray-color);
    font-weight: 400;
    line-height: 1.2;
}


/**

 */
.home-page-btn {
    /*
    display: block;
    justify-content: left;
    text-align: left;
     */
    margin-top: 20px;
    padding: 12px 0;
    font-size: var(--heading);
    text-transform: uppercase;
    color: var(--green-color);
    border: none;
    transition: all .5s ease ;
    background: var(--bg-color);
    font-weight: 200;
    vertical-align: middle;
}

.home-page-btn p {
    vertical-align: middle;
    display: inline-block;
}

.home-page-btn img {
    vertical-align: middle;
}

.home-page-btn:hover {
    cursor: pointer;
}

.update-form-label-container,
.update-form-input-container,
.add-form-label-container,
.add-form-input-container {
    display: inline-block;
    vertical-align: middle;
    
}
.update-form-label-container,
.add-form-label-container{
    text-align: left;
    padding-right: 5px;
}


.add-form-label-container label,
.update-form-label-container label{
    display: block;
    width: 100%;
    font-size: var(--body-text);
    color: gray;
    padding: 5px 0;
}

.add-form-input-container input,
.update-form-input-container input{
   display: block;
    width: 100%;
    padding: 5px 0;
}

table, td {
    border-bottom: 1px solid var(--green-color);
    border-collapse: collapse;
    font-size: var(--nav-text);
    text-align: left;
    padding: 20px 0;
}

th {
    font-size: var(--nav-text);
    text-align: left;
    font-weight: 600;
}

.overview-table{
    width: 100%;
    color: var(--gray-color);
}

.form-button {
    height: 100%;
    width: 49%;
    padding: 0;
    font-size: var(--heading);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
    font-weight: 200;
}

.form-button:hover {
    background: #96a698;
    cursor: pointer;
}

.update-screen-contant-conatainer,
.add-screen-contant-container{
    width: 100%;
    height: inherit;
}

.add-screen-contant-container h2 {
    text-align: center;
}
.update-form{
    display: block;
    width: 80%;
    text-align: center;
}

.add-message {
    text-align: center;
    font-size: var(--body-text);
    color: var(--gray-color);
    vertical-align: middle;
}

.add-message img {
    vertical-align: middle;
}

.update-table-btn {
    margin: 0 5px;
    padding: 0;
}

.update-table-btn:hover {
    cursor: pointer;
}

.update-btn {
    padding: 5px 0;
    width: 45%;
    font-size: var(--nav-text);
    text-transform: uppercase;
    color: var(--bg-color);
    border: none;
    transition: all .5s ease ;
    background: #40a149;
    vertical-align: middle;
}

.update-btn:hover {
    background: #a9baab;
    cursor: pointer;
}


.add-screen-container {
    padding: 5% 0;
    width: 80%;
}

.update-container {
    padding: 5% 0;
    width: 80%;
}

.update-container h2 {
    text-align: center;
}
.location-overview-container{
    padding-bottom: 10%;
    text-align: center;
}

.add-form-container {
    width: 80%;
}

.add-form-input-container,
.update-form-input-container {
    width: 80%;
}

.add-form-label-container,
.update-form-label-container {
    width: 18%;
}

.add-form-btns-container {
    margin-top: 20px;
    height: 75px;
    width: 100%;
    text-align: center;
}