<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="AHMA">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Berlin Nachhaltig</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />

    <!-- Import Google Font: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">

    <!-- Leaflet Map API -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
    </script>

    <!-- Main JS File: -->
    <script type="text/javascript"
            src="js/main.js" defer>
    </script>
</head>
<body>
    <header class="header-main-container"> <!-- Header Area -->
        <div class="header-content-container">
            <ul id="header-options" class="header-icon-list none-display">
                <!-- <li class="header-icon-list-element"><a href="#"><img src="img/email-icon.png" alt="email-icon"></a></li> -->
                <li id="logout-btn" class="header-icon-list-element"><a href="#"><img src="img/logout-icon.png" alt="logout-icon"></a></li>
            </ul>
            <img src="img/logo.png" alt="logo">
            <p>find out which infrastructure in Berlin has a negative</p>
            <p>impact on sustainability and let's consider improvement measures</p>
        </div>
    </header> <!-- End Header Area -->

    <div id="login-area" class="login-main-container"> <!-- Login Area -->
        <div class="login-content-container">
            <form id="login-form" class="login-form-container" >
                <div class="login-form-input-container">
                    <img src="img/username-icon.png" alt="username">
                    <input id="username-input" type="text" placeholder="username" required>
                </div>
                <div class="login-form-input-container">
                    <img src="img/password-icon.png" alt="password">
                    <input id="password-input" type="password" placeholder="password" required>
                </div>
                <button type="submit" id="login-btn" class="login-btn">Login</button>
            </form>
        </div>
    </div> <!-- End Login Area -->

    <div id="main-area" class="mainpage-main-container none-display"> <!-- Main-Page Area -->
        <h2>Hello <span id="welcome-user"></span> !</h2>

        <div class="mainpage-map-container">
            <div class="location-info-container" id="location-info-container2">
                <h3 id="location-info-title-text"></h3>
                <p id="location-info-des-text"></p>
                <p id="location-info-co2-text"></p>
            </div>
            <div id="map-container" class="map">
                <!--  Leaflet Map -->
            </div>
        </div>

        <div class="mainage-locations-list-container">
            <div class="locations-list-container">
                <ul id="locations-list" class="locations-list">
                </ul>
            </div>
            <div id="locations-options-btns" class="locations-options-container none-display">
                <button id="add-location-btn" class="add-location-btn">Add Ort</button>
                <button id="locations-list-update-btn" class="add-location-btn">Update List</button>
            </div>
        </div>
    </div> <!-- End Main-Page Area -->

    <div id="add-location-page" class="add-screen-container none-display"> <!-- Add Area -->
        <button id="homepage-btn" class="home-page-btn" ><img src="img/back-icon.png" alt="back to homepage"><p>home</p></button>
        <div class="add-screen-contant-container">
            <h2>ADD NEW LOCATION</h2>
            <p id="add-message" class="add-message"></p>
            <form id="add-form" class="add-form-container">
                <div class="add-form-input-container login-form-input-container input" >
                    <input id="new-location-name" type="text" placeholder="location name" required>
                    <input id="new-location-co2" type="number" placeholder="C02 in T" required>
                    <input id="new-location-description" type="text" placeholder="Description" required>
                    <input id="new-location-img" type="file" placeholder="longitude">

                    <div class="add-form-address-option-container">
                        <button id="address-option-btn" class="address-option-button address-option-aktiv">Address</button>
                        <button id="coordinate-option-btn" class="address-option-button">Coordinate</button>
                    </div>

                    <div id="add-form-address-input-container" class="add-form-address-input-container">
                        <input id="new-location-str-name" type="text" placeholder="streetname name">
                        <input id="new-location-str-nr" type="number" placeholder="streetnumber">
                        <input id="new-location-postcode" type="number" placeholder="Postcode">
                    </div>

                    <div id="add-form-coordinate-input-container" class="add-form-coordinate-input-container none-display">
                        <input id="new-location-latitude" type="number" placeholder="latitude">
                        <input id="new-location-longitude" type="number" placeholder="longitude">
                    </div>
                </div>

                <div class="add-form-btns-container">
                    <button type="submit" id="save-new-location-btn" class="save-btn form-button" >Save</button>
                    <button id="cancel-location-add-btn" class="cancel-btn form-button" >Cancel</button>
                </div>
            </form>
        </div>
    </div> <!-- End Add Area -->

    <div class="update-container" id="update-container"> <!-- Update Area -->
        <div id="overview-area" class="none-display"> <!-- Overview Area-->
            <button id="homepage-btn-update-page" class="home-page-btn" ><img src="img/back-icon.png" alt="back to homepage"><p>home</p></button>
            <h2>LISTE DER DRECKSSPATZEN</h2>
            <div class="location-overview-container">
                <table class="overview-table" id="updateTable"></table>
            </div>
        </div> <!-- End Overview Area-->

        <div id="update-form" class="update-screen-contant-conatainer none-display"> <!--Update Formular-->
            <button id="back-to-update-list" class="home-page-btn" ><img src="img/back-icon.png" alt="back to homepage"><p>update list</p></button>
            <h2>Update Location info </h2>
            <p id="update-message" class="add-message"></p>
            <form class="update-form" action="">
            <div class="update-form-label-container">
                <label>Location Name</label>
                    <label>Streetname</label>
                    <label>Streetnumber</label>
                    <label>Postcode</label>
                    <label>C02 int T</label>
                    <label>Description</label>
                    <label>Latitude</label>
                    <label>Longitude</label>
                    <label>Photo</label>
            </div>
            <div class="update-form-input-container login-form-input-container input">
                <input type="text" id="updLocationName" placeholder="location name" required>
                <input type="number" id="updStreetNum" placeholder="street number" required>
                <input type="text" id="updStreetName" placeholder="street name" required>
                <input type="number" id="updPostcode" placeholder="postcode" required>
                <input type="number" id="updC02InT" placeholder="C02 in T" required>
                <input type="text" id="updDescription" placeholder="description" required>
                <input type="number" id="updLatitude" placeholder="latitude">
                <input type="number" id="updLongitude" placeholder="longitude">
                <input type="file" id="updFile" placeholder="file">
              </div>
            </form>
            <div class="add-form-btns-container">
                <button id="save-location-update-btn" class="form-button" class="update-submit-btn">save</button>
                <button id="cancel-location-update-btn" class="form-button" class="update-submit-btn">cancel</button>
            </div>
        </div> <!---Update Formular Ende-->
    </div> <!-- End Update Area -->

    <footer class="footer-container"> <!-- start Footer Area -->
        <div class="footer-content-container">
            <div class="footer-impressum-container">
                <div class="footer-impressum-info-container">
                    <!-- <img class="footer-logo-img" src="img/footer-logo.png" alt="footer-logo"> -->
                    <p class="footer-heading">AHMA Webprojekt</p>
                    <p>It's just a simple Webproject</p>
                    <p>to improve the city's infrastructure</p>
                </div>
                <div class="footer-impressum-info-container">
                    <p class="footer-heading">Contact us:</p>
                    <p>mail@berlin-nachhaltig.de</p>
                    <p>+49 111 00000001</p>
                </div>
                <div class="footer-impressum-info-container">
                    <p class="footer-heading">Information:</p>
                    <a href="#"><img src="img/footer-icon-link2.png"> Privacy Policy</a>
                    <a href="#"><img src="img/footer-icon-link2.png"> About Berlin</a>
                    <a href="#"><img src="img/footer-icon-link2.png"> Support</a>
                </div>
            </div>
            <p class="copyright-text">Copyright© 2023, All Rights Reserved</p>
        </div>
    </footer> <!-- End Footer Area -->
</body>
</html>